In [28]:
import PyPDF2
import pandas as pd
import glob
import os

In [57]:
dir_path =  r'C:\Users\bryan\Desktop\Projects'

In [133]:
files_19 = glob.glob(dir_path + "\\*2019e.pdf")

In [134]:
files_19

['C:\\Users\\bryan\\Desktop\\Projects\\Apr2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Aug2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Dec2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Feb2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Jan2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Jul2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Jun2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Mar2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\May2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Nov2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Oct2019e.pdf',
 'C:\\Users\\bryan\\Desktop\\Projects\\Sept2019e.pdf']

In [135]:
pdf_lines = []  # List to store the lines of text

for pdf_file in pdf_files:
    pdf = open(pdf_file, "rb")
    pdf_reader = PyPDF2.PdfReader(pdf)
    num_pages = len(pdf_reader.pages)

    for page_num in range(num_pages):
        page = pdf_reader.pages[page_num]
        text = page.extract_text()
        lines = text.split("\n")  # Split the text by line breaks

        pdf_lines.extend(lines)  # Add the lines to the list
        
    pdf.close()

# Create a DataFrame from the lines of text
df_19 = pd.DataFrame({"Text": pdf_lines})

In [136]:
df_19.head(15)

                                                 Text
0                     Provisional Civil International
1                      Air Traffic Statistics at HKIA
2                                          April 2019
3                                       Since Past 12
4   Apr-18 Apr-19(2)+/- %(1)Apr-18(2)+/- %(1)month...
5                                     1.Passengers(3)
6   Total 6,301,000     6,492,000     3.0% 6,492,0...
7                         2.Cargo Handled (Tonnes)(4)
8   (a) Unloaded 148,000        133,000        -10...
9   (b) Loaded 280,000        261,000        -6.8%...
10  (c) Total 428,000        394,000        -8.1% ...
11                              3.Flight Movements(5)
12  (a) Passenger 29,843           30,085         ...
13  (b) Cargo 4,780             4,760             ...
14  (c) Non-revenue 754                810        ...

In [137]:
months_19 = df_19.iloc[2::24]
months_19 = months_19.dropna()
months_19 = months_19.reset_index(drop=True)

In [138]:
px_19 = df_19.iloc[6::24]
px_19['Passengers'] = px_19['Text'].str.split().str[2]
px_19 = px_19.drop('Text', axis=1)
px_19 = px_19.dropna()
px_19 = px_19.reset_index(drop=True)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [140]:
combined_df = pd.concat([months_19, px_19], axis=1)

# Rename the columns
combined_df.columns = ['month', 'passengers']

combined_df.head(15)

             month passengers
0       April 2019  6,492,000
1      August 2019  5,996,000
2    December 2019  5,715,000
3    February 2019  5,885,000
4     January 2019  6,496,000
5        July 2019  6,730,000
6        June 2019  6,341,000
7       March 2019  6,419,000
8         May 2019  6,234,000
9    November 2019  5,026,000
10    October 2019  5,374,000
11  September 2019  4,856,000